* {
  margin: 0;
  padding: 0;
  cursor: url('http://pixeljoint.com/files/icons/full/curseur3.png'), auto;
}

/* Fonts */

@font-face {
  font-family: 'medieval';
  src: url('../fonts/firstv2l.ttf');
}

@font-face {
  font-family: 'abandon';
  src: url('../fonts/abandon.ttf');
}

/* General */

body {
  background-color: ivory;
  text-align: center;
  font-family: 'abandon';
}

header {
  background-color: cornflowerblue;
  min-height: 60px;
  top: 0;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 10px #191919;
  margin-bottom: 1em;
}

.final {
  position: fixed;
}

/* Navbar */

.navbar-link {
  display: inline-block;
  text-shadow: 1px 1px purple;
  font-size: larger;
  font-family: 'abandon';
  padding: 10px;
}

.navbar-link:hover {
  transform: scale(1.2);
}

.navbar-link-title {
  display: inline-block;
  padding: 10px;
  font-family: 'medieval';
}

/* Buttons */

button {
  padding: 5px 10px;
  margin: 1em;
}

button:hover {
  transform: scale(1.2);
}

/* Puck Game */

#pucks-wrapper {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.puck {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: black;
	margin: 0.1em;
	position: absolute;
}

.golden {
	width: 20px;
	height: 20px;
  border-radius: 50%;
  background-color: gold;
  margin: 0.1em;
  position: absolute;
	visibility: hidden;
}

#puck-score {
  margin: 0 auto;
  padding: 15px;
}

#score-form, #save-score {
  visibility: hidden;;
}

/* Simon Game */

#simon-wrapper {
  margin: 0 auto;
  height: 500px;
  width: 90%;
  background-color: grey;
}

#simon-win {
  visibility: hidden;
}

.green, .red, .yellow, .blue {
  height: 35%;
  width: 40%;
  margin: 0.5em;
  opacity: 0.6;
  display: inline-block;
}

.lit {
  opacity: 1;
}

.green {
  background-color: #32CD32;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

/* Portfolio Page */

#projects-wrapper {
  margin-top: 60px;
  width: 100%;
}

.indiv-project {
  width: 45%;
  margin: 1em;
  display: inline-block;
}

.indiv-project h2 {
  text-shadow: 1px 1px purple;
  text-decoration: underline;
  padding-bottom: 0.25em;
}

.indiv-project h2 a {
  color: black;
}

.indiv-project img {
  width: inherit;
}

.indiv-project p, #about {
  padding: 1em;
  font-size: 18px;
}

hr {
  margin-bottom: 1em;
}

.skill {
  height: 65px;
  padding: 1em;
  width: auto;
  display: inline-block;
}
