<h1>PROJECTS</h1>
<div class="indiv-project" ng-repeat="proj in mainCtrl.projects">
  <h2>{{proj.name}}</h2>
  <img src="{{proj.img}}"/>
  <p>{{proj.description}}</p>
</div>
<hr/>
<h1>SKILLS</h1>
<div class="skills-holder">
  <img class="skill" src="/images/html5.png"/>
  <img class="skill" src="/images/css3.png"/>
  <img class="skill" src="/images/js.png"/>
  <img class="skill" src="/images/jquery.png"/>
  <img class="skill" src="/images/angular.png"/>
  <img class="skill" src="/images/nodejs.png"/>
  <img class="skill" src="/images/ruby.png"/>
  <img class="skill" src="/images/postgresql.png"/>
  <img class="skill" src="/images/git.png"/>
  <img class="skill" src="/images/php.png"/>
</div>
<hr/>
<h1>ABOUT DEREK</h1><br/>
<pre>Aside from coding, I am passionate about hockey, reading, and medieval history.</pre><br/>
<a href="https://www.linkedin.com/in/derekfludzinski"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Derek Fludzinski's profile on LinkedIn"></a><br/>
<small>&copy 2016 Derek Fludzinski</small>
